html {
  box-sizing: content-box;
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  font-size: 2rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
main {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

b {
  font-size: 10rem;
}
header{
  display: flex;
  align-items: center;
  transform: translateY(40px);
}
.logo{
  transform: translateX(10px);
}
.line{
  height: 1px;
  background-color: #31333f;
  transform: translateX(35px);
  flex: 0 1 40%;

}
.logoSection{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  margin-left: auto;
  flex: 0 1 60%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #131522,#182947);
}
nav span {
  padding: 20px;
}
article{
  display: flex;
  transform: translate(0%,60%);
}

article section:nth-child(1){
  flex: 0 1 50%;
  text-align: justify;
  font-family: sans-serif;
  transform: translateX(50px);
}

article section:nth-child(2){
  
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  transform: translateY(60px);
}
.space{
  font-size: 15rem;
  text-transform: uppercase;
  display:inline-block;
  padding: 20px;

}
.so{
  font-size: 3rem;
  text-transform:uppercase;
  letter-spacing: 2px;
}
.small{
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-top: 50px;
}

.expore{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color:#131522;
  font-size: 4rem;
  font-family:'Times New Roman', Times, serif
}
